# Node
node_modules/
.env*
!.env.example
dist/
.storybook-cache/
.vite/
coverage/

# Mac
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*

# Editor directories
.idea/
.vscode/*
!.vscode/dictionaries


# VSCode setting
# *.code-workspace

.history
**/.history

**/.cache


